<a href="https://colab.research.google.com/github/therealthaibinh/jupyter_notebooks/blob/master/Excess_mortality_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook variables
Hint: Use `Shift+Enter` to run a cell and automatically move on to the next cell

Documentation of csv: https://www.mortality.org/Public/STMF_DOC/STMFNote.pdf

Country codes: https://www.mortality.org/cgi-bin/hmd/DataAvailability.php

In [2]:
# You probably want to change just this number:
nWeekWindow = 26

# Possible age columns: 'D0_14', 'D15_64', 'D65_74','D75_84', 'D85p'
# lstKeepAges = ['D0_14', 'D15_64', 'D65_74','D75_84', 'D85p']
lstKeepAges = ['D65_74','D75_84', 'D85p']


#################################################################

# Probably stay the same

strURL_mortality = "https://www.mortality.org/Public/STMF/Outputs/stmf.csv"

lstCountriesEurope = ['AUT', 'BEL', 'BGR', 'CZE', 'DNK', 'GBRTENW', 'EST',
                      'FIN', 'FRATNP', 'DEUTNP', 'HUN', 'ISL', 'ITA', 
                      'LVA', 'LTU', 'LUX', 'NLD', 'NOR', 'POL', 'PRT',
                      'GBR_SCO', 'SVK', 'ESP', 'SWE', 'CHE']

nRefYearStart = 2015
nRefYearEnd = 2019 #inclusive

strSex = 'b'


# Don't touch
lstKeepCol = ['CountryCode', 'Year', 'Week', 'Sex'] + lstKeepAges

In [1]:
%pylab inline

import pandas as pd
from datetime import datetime


# pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

Populating the interactive namespace from numpy and matplotlib

# Load file

In [3]:
print("LOADING DATA ON " + str(datetime.now()))
# First loading is just to get its header
print(pd.read_csv(strURL_mortality, nrows=1, header=None).loc[0,0])

# Second loading is to load actual data
df_mortality = pd.read_csv(strURL_mortality, skiprows=2)
df_mortality.head()

LOADING DATA ON 2020-09-10 04:37:55.497462
#HMD STMF pooled file. Last modified: 2020-09-04 14:06:31

,CountryCode,Year,Week,Sex,D0_14,D15_64,D65_74,D75_84,D85p,DTotal,R0_14,R15_64,R65_74,R75_84,R85p,RTotal,Split,SplitSex,Forecast
0,AUT,2000,1,m,7.0,183.0,212.0,249.0,163.0,814.0,0.000520,0.003513,0.037607,0.095138,0.231834,0.010925,0,0,0
1,AUT,2000,1,f,2.0,104.0,141.0,338.0,468.0,1053.0,0.000156,0.002002,0.019553,0.061442,0.224357,0.013238,0,0,0
2,AUT,2000,1,b,9.0,287.0,353.0,587.0,631.0,1867.0,0.000343,0.002759,0.027474,0.072305,0.226242,0.012120,0,0,0
3,AUT,2000,2,m,4.0,195.0,195.0,259.0,187.0,840.0,0.000297,0.003743,0.034591,0.098958,0.265969,0.011274,0,0,0
4,AUT,2000,2,f,6.0,109.0,126.0,312.0,509.0,1062.0,0.000469,0.002099,0.017473,0.056716,0.244012,0.013352,0,0,0

### We only care about keeping the total sexes column

In [4]:
df_mortality = df_mortality[df_mortality['Sex']==strSex]
df_mortality.head()

,CountryCode,Year,Week,Sex,D0_14,D15_64,D65_74,D75_84,D85p,DTotal,R0_14,R15_64,R65_74,R75_84,R85p,RTotal,Split,SplitSex,Forecast
2,AUT,2000,1,b,9.0,287.0,353.0,587.0,631.0,1867.0,0.000343,0.002759,0.027474,0.072305,0.226242,0.012120,0,0,0
5,AUT,2000,2,b,10.0,304.0,321.0,571.0,696.0,1902.0,0.000381,0.002922,0.024983,0.070334,0.249547,0.012347,0,0,0
8,AUT,2000,3,b,13.0,342.0,346.0,573.0,753.0,2027.0,0.000495,0.003287,0.026929,0.070581,0.269984,0.013158,0,0,0
11,AUT,2000,4,b,24.0,295.0,342.0,571.0,708.0,1940.0,0.000914,0.002836,0.026618,0.070334,0.253850,0.012593,0,0,0
14,AUT,2000,5,b,16.0,304.0,314.0,563.0,731.0,1928.0,0.000609,0.002922,0.024439,0.069349,0.262096,0.012516,0,0,0

# Explore

In [6]:
df_mortality['CountryCode'].unique()

array(['AUT', 'BEL', 'BGR', 'CHE', 'CZE', 'DEUTNP', 'DNK', 'ESP', 'EST',
       'FIN', 'FRATNP', 'GBRTENW', 'GBR_SCO', 'GRC', 'HRV', 'HUN', 'ISL',
       'ISR', 'ITA', 'LTU', 'LUX', 'LVA', 'NLD', 'NOR', 'POL', 'PRT',
       'RUS', 'SVK', 'SVN', 'SWE', 'USA'], dtype=object)

### Which countries do _not_ have all years of reference data?

In [7]:
lstFullCountryYearWeek = []
for strCountryCode in df_mortality['CountryCode'].unique():
    for nYear in range(nRefYearStart, nRefYearEnd+1):
        for nWeek in range(1,53):
            lstFullCountryYearWeek.append(strCountryCode + " " + str(nYear) + " " + str(nWeek))

print("No reference data for these country/year/week combos:")
set(lstFullCountryYearWeek)-set((df_mortality["CountryCode"] + " " + df_mortality["Year"].astype(str) + " " + df_mortality["Week"].astype(str)).values)

No reference data for these country/year/week combos:

{'DEUTNP 2015 1',
 'DEUTNP 2015 10',
 'DEUTNP 2015 11',
 'DEUTNP 2015 12',
 'DEUTNP 2015 13',
 'DEUTNP 2015 14',
 'DEUTNP 2015 15',
 'DEUTNP 2015 16',
 'DEUTNP 2015 17',
 'DEUTNP 2015 18',
 'DEUTNP 2015 19',
 'DEUTNP 2015 2',
 'DEUTNP 2015 20',
 'DEUTNP 2015 21',
 'DEUTNP 2015 22',
 'DEUTNP 2015 23',
 'DEUTNP 2015 24',
 'DEUTNP 2015 25',
 'DEUTNP 2015 26',
 'DEUTNP 2015 27',
 'DEUTNP 2015 28',
 'DEUTNP 2015 29',
 'DEUTNP 2015 3',
 'DEUTNP 2015 30',
 'DEUTNP 2015 31',
 'DEUTNP 2015 32',
 'DEUTNP 2015 33',
 'DEUTNP 2015 34',
 'DEUTNP 2015 35',
 'DEUTNP 2015 36',
 'DEUTNP 2015 37',
 'DEUTNP 2015 38',
 'DEUTNP 2015 39',
 'DEUTNP 2015 4',
 'DEUTNP 2015 40',
 'DEUTNP 2015 41',
 'DEUTNP 2015 42',
 'DEUTNP 2015 43',
 'DEUTNP 2015 44',
 'DEUTNP 2015 45',
 'DEUTNP 2015 46',
 'DEUTNP 2015 47',
 'DEUTNP 2015 48',
 'DEUTNP 2015 49',
 'DEUTNP 2015 5',
 'DEUTNP 2015 50',
 'DEUTNP 2015 51',
 'DEUTNP 2015 52',
 'DEUTNP 2015 6',
 'DEUTNP 2015 7',
 'DEUTNP 2015 8',
 'DEUTNP 2015 9',
 'GRC 2015 1',
 'GRC 2015 10',
 'GRC 2015 11',
 'GRC 2015 12',
 'GRC 2015 13',
 'GRC 2015 14',
 'GRC 2015 15',
 'GRC 2015 16',
 'GRC 2015 17',
 'GRC 2015 18',
 'GRC 2015 19',
 'GRC 2015 2',
 'GRC 2015 20',
 'GRC 2015 21',
 'GRC 2015 22',
 'GRC 2015 23',
 'GRC 2015 24',
 'GRC 2015 25',
 'GRC 2015 26',
 'GRC 2015 27',
 'GRC 2015 28',
 'GRC 2015 29',
 'GRC 2015 3',
 'GRC 2015 30',
 'GRC 2015 31',
 'GRC 2015 32',
 'GRC 2015 33',
 'GRC 2015 34',
 'GRC 2015 35',
 'GRC 2015 36',
 'GRC 2015 37',
 'GRC 2015 38',
 'GRC 2015 39',
 'GRC 2015 4',
 'GRC 2015 40',
 'GRC 2015 41',
 'GRC 2015 42',
 'GRC 2015 43',
 'GRC 2015 44',
 'GRC 2015 45',
 'GRC 2015 46',
 'GRC 2015 47',
 'GRC 2015 48',
 'GRC 2015 49',
 'GRC 2015 5',
 'GRC 2015 50',
 'GRC 2015 51',
 'GRC 2015 52',
 'GRC 2015 6',
 'GRC 2015 7',
 'GRC 2015 8',
 'GRC 2015 9',
 'ITA 2015 1',
 'RUS 2019 1',
 'RUS 2019 10',
 'RUS 2019 11',
 'RUS 2019 12',
 'RUS 2019 13',
 'RUS 2019 14',
 'RUS 2019 15',
 'RUS 2019 16',
 'RUS 2019 17',
 'RUS 2019 18',
 'RUS 2019 19',
 'RUS 2019 2',
 'RUS 2019 20',
 'RUS 2019 21',
 'RUS 2019 22',
 'RUS 2019 23',
 'RUS 2019 24',
 'RUS 2019 25',
 'RUS 2019 26',
 'RUS 2019 27',
 'RUS 2019 28',
 'RUS 2019 29',
 'RUS 2019 3',
 'RUS 2019 30',
 'RUS 2019 31',
 'RUS 2019 32',
 'RUS 2019 33',
 'RUS 2019 34',
 'RUS 2019 35',
 'RUS 2019 36',
 'RUS 2019 37',
 'RUS 2019 38',
 'RUS 2019 39',
 'RUS 2019 4',
 'RUS 2019 40',
 'RUS 2019 41',
 'RUS 2019 42',
 'RUS 2019 43',
 'RUS 2019 44',
 'RUS 2019 45',
 'RUS 2019 46',
 'RUS 2019 47',
 'RUS 2019 48',
 'RUS 2019 49',
 'RUS 2019 5',
 'RUS 2019 50',
 'RUS 2019 51',
 'RUS 2019 52',
 'RUS 2019 6',
 'RUS 2019 7',
 'RUS 2019 8',
 'RUS 2019 9'}

## What is the max number of weeks available for each country in 2020?

In [8]:
df_mortality[(df_mortality['Year']==2020)].sort_values(by=['CountryCode','Week']).\
        drop_duplicates(subset=['CountryCode'], keep='last')[['CountryCode','Week']].\
        sort_values(by='Week')

      CountryCode  Week
82664         SVN    13
70124         POL    26
56477         LUX    26
50066         ITA    26
36596         GRC    26
13739         CZE    28
73331         PRT    29
79505         SVK    30
31019      FRATNP    30
42773         HUN    31
53279         LTU    31
6434          BEL    32
14459      DEUTNP    32
35894     GBR_SCO    32
49211         ISR    33
3218          AUT    33
27809         FIN    33
19808         ESP    33
11315         CHE    33
45992         ISL    33
87077         USA    33
85886         SWE    34
32681     GBRTENW    34
23030         EST    34
63704         NLD    34
66926         NOR    34
16589         DNK    34
8096          BGR    34
59702         LVA    35

# Doing stuff

## Get 2020 data (`df_mortality_2020`)

In [9]:
df_mortality_2020 = df_mortality[(df_mortality['Year']==2020)][lstKeepCol]
df_mortality_2020['SUM'] = df_mortality_2020[lstKeepAges].sum(axis='columns')
df_mortality_2020.head()

     CountryCode  Year  Week Sex  D65_74  D75_84   D85p     SUM
3122         AUT  2020     1   b   221.0   481.0  687.0  1389.0
3125         AUT  2020     2   b   261.0   490.0  712.0  1463.0
3128         AUT  2020     3   b   272.0   537.0  753.0  1562.0
3131         AUT  2020     4   b   256.0   515.0  736.0  1507.0
3134         AUT  2020     5   b   277.0   591.0  844.0  1712.0

## Generate reference data (`df_mortality_reference`)
For each week, get the average value over the years that were defined above

In [10]:
df_mortality_reference = df_mortality[(df_mortality['Year']>=nRefYearStart) &\
                                       (df_mortality['Year']<(nRefYearEnd+1))]
df_mortality_reference['SUM'] = df_mortality_reference[lstKeepAges].sum(axis='columns')

df_mortality_reference = pd.DataFrame(df_mortality_reference[lstKeepCol+['SUM']].groupby(by=['CountryCode','Week'])['SUM'].mean()).\
                            reset_index().\
                            rename(columns={'SUM':'REF'})
df_mortality_reference.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  CountryCode  Week     REF
0         AUT     1  1570.2
1         AUT     2  1615.6
2         AUT     3  1539.8
3         AUT     4  1512.0
4         AUT     5  1568.0

## Jam the dataframes together

In [11]:
df_mortality_join = df_mortality_2020[lstKeepCol+['SUM']].merge(df_mortality_reference, on=['CountryCode','Week'])
df_mortality_join['DIFF'] = df_mortality_join['SUM']-df_mortality_join['REF']
df_mortality_join['EXCESS_ONLY'] = df_mortality_join['DIFF'].clip(0, None)

df_mortality_join.head()

,CountryCode,Year,Week,Sex,D65_74,D75_84,D85p,SUM,REF,DIFF,EXCESS_ONLY
0,AUT,2020,1,b,221.0,481.0,687.0,1389.0,1570.2,-181.2,0.0
1,AUT,2020,2,b,261.0,490.0,712.0,1463.0,1615.6,-152.6,0.0
2,AUT,2020,3,b,272.0,537.0,753.0,1562.0,1539.8,22.2,22.2
3,AUT,2020,4,b,256.0,515.0,736.0,1507.0,1512.0,-5.0,0.0
4,AUT,2020,5,b,277.0,591.0,844.0,1712.0,1568.0,144.0,144.0

## Create excess mortality up to week defined above

In [12]:
df_excess_mortality = pd.DataFrame(df_mortality_join[df_mortality_join['Week']<=nWeekWindow].groupby(by=['CountryCode'])[['REF','EXCESS_ONLY']].sum()).reset_index()
df_excess_mortality.head()

  CountryCode      REF  EXCESS_ONLY
0         AUT  35890.0       1511.8
1         BEL  48622.6       8913.2
2         BGR  44810.2        169.0
3         CHE  30119.2       1969.2
4         CZE  47066.0       1165.0

# Final comparisons

In [13]:
print("Europe:")
s_temp = df_excess_mortality[df_excess_mortality['CountryCode'].isin(lstCountriesEurope)][['REF','EXCESS_ONLY']].sum()
print("\tReference deaths:", int(s_temp['REF']))
print("\tExcess deaths:", int(s_temp['EXCESS_ONLY']))
print("\tPercent increase:", round(s_temp['EXCESS_ONLY']*100.0/s_temp['REF'], 2))

print()

print("United States:")
s_temp = df_excess_mortality[df_excess_mortality['CountryCode'].isin(['USA'])][['REF','EXCESS_ONLY']].sum()
print("\tReference deaths:", int(s_temp['REF']))
print("\tExcess deaths:", int(s_temp['EXCESS_ONLY']))
print("\tPercent increase:", round(s_temp['EXCESS_ONLY']*100.0/s_temp['REF'], 2))

Europe:
	Reference deaths: 2099756
	Excess deaths: 239605
	Percent increase: 11.41

United States:
	Reference deaths: 1055778
	Excess deaths: 151067
	Percent increase: 14.31

In [14]:
# Run this as a reminder of what your variables were
print(lstKeepAges)
print(nWeekWindow)

['D65_74', 'D75_84', 'D85p']
26

# Further exploration

### All individual countries

In [15]:
for strCountryCode in df_excess_mortality['CountryCode'].unique():
    print(strCountryCode)
    s_temp = df_excess_mortality[df_excess_mortality['CountryCode'].isin([strCountryCode])][['REF','EXCESS_ONLY']].sum()
    print("\tReference deaths:", int(s_temp['REF']))
    print("\tExcess deaths:", int(s_temp['EXCESS_ONLY']))
    print("\tPercent increase:", round(s_temp['EXCESS_ONLY']*100.0/s_temp['REF'], 2))
    print()

AUT
	Reference deaths: 35890
	Excess deaths: 1511
	Percent increase: 4.21

BEL
	Reference deaths: 48622
	Excess deaths: 8913
	Percent increase: 18.33

BGR
	Reference deaths: 44810
	Excess deaths: 169
	Percent increase: 0.38

CHE
	Reference deaths: 30119
	Excess deaths: 1969
	Percent increase: 6.54

CZE
	Reference deaths: 47065
	Excess deaths: 1164
	Percent increase: 2.48

DEUTNP
	Reference deaths: 412859
	Excess deaths: 12094
	Percent increase: 2.93

DNK
	Reference deaths: 23442
	Excess deaths: 737
	Percent increase: 3.15

ESP
	Reference deaths: 191100
	Excess deaths: 45724
	Percent increase: 23.93

EST
	Reference deaths: 6432
	Excess deaths: 189
	Percent increase: 2.94

FIN
	Reference deaths: 23413
	Excess deaths: 1126
	Percent increase: 4.81

FRATNP
	Reference deaths: 254874
	Excess deaths: 29894
	Percent increase: 11.73

GBRTENW
	Reference deaths: 239582
	Excess deaths: 53995
	Percent increase: 22.54

GBR_SCO
	Reference deaths: 24578
	Excess deaths: 4421
	Percent increase: 17.99

GRC
	Reference deaths: 54854
	Excess deaths: 2301
	Percent increase: 4.2

HUN
	Reference deaths: 52448
	Excess deaths: 933
	Percent increase: 1.78

ISL
	Reference deaths: 971
	Excess deaths: 75
	Percent increase: 7.74

ISR
	Reference deaths: 19099
	Excess deaths: 1152
	Percent increase: 6.03

ITA
	Reference deaths: 280173
	Excess deaths: 48468
	Percent increase: 17.3

LTU
	Reference deaths: 16175
	Excess deaths: 284
	Percent increase: 1.76

LUX
	Reference deaths: 1759
	Excess deaths: 144
	Percent increase: 8.19

LVA
	Reference deaths: 11390
	Excess deaths: 224
	Percent increase: 1.97

NLD
	Reference deaths: 67283
	Excess deaths: 9773
	Percent increase: 14.53

NOR
	Reference deaths: 18090
	Excess deaths: 302
	Percent increase: 1.67

POL
	Reference deaths: 156622
	Excess deaths: 7895
	Percent increase: 5.04

PRT
	Reference deaths: 50433
	Excess deaths: 3632
	Percent increase: 7.2

SVK
	Reference deaths: 20612
	Excess deaths: 476
	Percent increase: 2.31

SVN
	Reference deaths: 4905
	Excess deaths: 105
	Percent increase: 2.14

SWE
	Reference deaths: 41004
	Excess deaths: 5484
	Percent increase: 13.38

USA
	Reference deaths: 1055778
	Excess deaths: 151067
	Percent increase: 14.31

In [16]:
df_mortality_join[df_mortality_join['CountryCode']=='USA']

,CountryCode,Year,Week,Sex,D65_74,D75_84,D85p,SUM,REF,DIFF,EXCESS_ONLY
863,USA,2020,1,b,11575.401018,14356.142857,18673.456124,44605.0,44672.4,-67.4,0.0
864,USA,2020,2,b,11767.178204,14593.990398,18982.831398,45344.0,45753.4,-409.4,0.0
865,USA,2020,3,b,11453.950785,14205.516809,18477.532406,44137.0,44975.0,-838.0,0.0
866,USA,2020,4,b,11388.035487,14123.766775,18371.197738,43883.0,44062.8,-179.8,0.0
867,USA,2020,5,b,11360.787037,14089.972469,18327.240494,43778.0,43444.0,334.0,334.0
868,USA,2020,6,b,11442.791896,14191.677237,18459.530868,44094.0,43440.4,653.6,653.6
869,USA,2020,7,b,11369.610345,14100.915387,18341.474268,43812.0,43155.4,656.6,656.6
870,USA,2020,8,b,11375.579053,14108.317950,18351.102998,43835.0,42628.8,1206.2,1206.2
871,USA,2020,9,b,11424.626262,14169.147700,18430.226038,44024.0,42137.0,1887.0,1887.0
872,USA,2020,10,b,11482.496780,14240.920368,18523.582853,44247.0,42300.6,1946.4,1946.4
873,USA,2020,11,b,11265.287708,13971.531475,18173.180817,43410.0,41610.4,1799.6,1799.6
874,USA,2020,12,b,11365.717709,14096.087630,18335.194662,43797.0,41431.6,2365.4,2365.4
875,USA,2020,13,b,12177.462006,15102.836085,19644.701909,46925.0,40778.6,6146.4,6146.4
876,USA,2020,14,b,13995.063368,17357.077192,22576.859440,53929.0,40495.4,13433.6,13433.6
877,USA,2020,15,b,15445.718938,19156.221650,24917.059412,59519.0,40178.8,19340.2,19340.2
878,USA,2020,16,b,15141.574335,18779.012830,24426.412835,58347.0,39544.6,18802.4,18802.4
879,USA,2020,17,b,14425.329367,17890.705369,23270.965264,55587.0,38923.0,16664.0,16664.0
880,USA,2020,18,b,13439.194990,16667.673358,21680.131652,51787.0,38663.2,13123.8,13123.8
881,USA,2020,19,b,12753.572089,15817.344260,20574.083651,49145.0,38051.6,11093.4,11093.4
882,USA,2020,20,b,12311.109165,15268.589108,19860.301727,47440.0,37713.2,9726.8,9726.8
883,USA,2020,21,b,11589.414507,14373.522786,18696.062707,44659.0,37403.0,7256.0,7256.0
884,USA,2020,22,b,11209.233754,13902.011760,18082.754486,43194.0,36988.8,6205.2,6205.2
885,USA,2020,23,b,10866.681812,13477.169062,17530.149126,41874.0,37078.0,4796.0,4796.0
886,USA,2020,24,b,10723.173310,13299.185719,17298.640971,41321.0,37001.0,4320.0,4320.0
887,USA,2020,25,b,10690.215661,13258.310702,17245.473637,41194.0,36720.0,4474.0,4474.0
888,USA,2020,26,b,10760.283103,13345.210345,17358.506552,41464.0,36627.0,4837.0,4837.0
889,USA,2020,27,b,10790.905171,13383.188707,17407.906122,41582.0,36594.0,4988.0,4988.0
890,USA,2020,28,b,10932.337601,13558.597246,17636.065153,42127.0,36403.6,5723.4,5723.4
891,USA,2020,29,b,11132.159567,13806.422153,17958.418280,42897.0,36347.6,6549.4,6549.4
892,USA,2020,30,b,11172.642978,13856.630836,18023.726186,43053.0,36156.0,6897.0,6897.0
893,USA,2020,31,b,10885.106955,13500.020449,17559.872596,41945.0,36163.0,5782.0,5782.0
894,USA,2020,32,b,10120.333795,12551.526940,16326.139266,38998.0,36113.4,2884.6,2884.6
895,USA,2020,33,b,8353.855715,10360.690387,13476.453898,32191.0,36225.0,-4034.0,0.0