<a href="https://colab.research.google.com/github/therealthaibinh/jupyter_notebooks/blob/master/Excess_mortality_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook variables
Hint: Use `Shift+Enter` to run a cell and automatically move on to the next cell

Documentation of csv: https://www.mortality.org/Public/STMF_DOC/STMFNote.pdf

Country codes: https://www.mortality.org/cgi-bin/hmd/DataAvailability.php

In [ ]:
# You probably want to change just this number:
nWeekWindow = 26

# Possible age columns: 'D0_14', 'D15_64', 'D65_74','D75_84', 'D85p'
lstKeepAges = ['D0_14', 'D15_64', 'D65_74','D75_84', 'D85p']
# lstKeepAges = ['D65_74','D75_84', 'D85p']


#################################################################

# Probably stay the same

strURL_mortality = "https://www.mortality.org/Public/STMF/Outputs/stmf.csv"

lstCountriesEurope = ['AUT', 'BEL', 'BGR', 'CZE', 'DNK', 'GBRTENW', 'EST',
                      'FIN', 'FRATNP', 'DEUTNP', 'HUN', 'ISL', 'ITA', 
                      'LVA', 'LTU', 'LUX', 'NLD', 'NOR', 'POL', 'PRT',
                      'GBR_SCO', 'SVK', 'ESP', 'SWE', 'CHE']

nRefYearStart = 2015
nRefYearEnd = 2019 #inclusive

strSex = 'b'


# Don't touch
lstKeepCol = ['CountryCode', 'Year', 'Week', 'Sex'] + lstKeepAges

In [ ]:
%pylab inline

import pandas as pd
from datetime import datetime


# pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

Populating the interactive namespace from numpy and matplotlib

# Load file

In [ ]:
print("LOADING DATA ON " + str(datetime.now()))
# First loading is just to get its header
print(pd.read_csv(strURL_mortality, nrows=1, header=None).loc[0,0])

# Second loading is to load actual data
df_mortality = pd.read_csv(strURL_mortality, skiprows=2)
df_mortality.head()

LOADING DATA ON 2020-09-14 16:12:53.518909
#HMD STMF pooled file. Last modified: 2020-09-10 14:35:00

,CountryCode,Year,Week,Sex,D0_14,D15_64,D65_74,D75_84,D85p,DTotal,R0_14,R15_64,R65_74,R75_84,R85p,RTotal,Split,SplitSex,Forecast
0,AUT,2000,1,m,7.0,183.0,212.0,249.0,163.0,814.0,0.000520,0.003513,0.037607,0.095138,0.231834,0.010925,0,0,0
1,AUT,2000,1,f,2.0,104.0,141.0,338.0,468.0,1053.0,0.000156,0.002002,0.019553,0.061442,0.224357,0.013238,0,0,0
2,AUT,2000,1,b,9.0,287.0,353.0,587.0,631.0,1867.0,0.000343,0.002759,0.027474,0.072305,0.226242,0.012120,0,0,0
3,AUT,2000,2,m,4.0,195.0,195.0,259.0,187.0,840.0,0.000297,0.003743,0.034591,0.098958,0.265969,0.011274,0,0,0
4,AUT,2000,2,f,6.0,109.0,126.0,312.0,509.0,1062.0,0.000469,0.002099,0.017473,0.056716,0.244012,0.013352,0,0,0

### We only care about keeping the total sexes rows

In [ ]:
df_mortality = df_mortality[df_mortality['Sex']==strSex]
df_mortality.head()

,CountryCode,Year,Week,Sex,D0_14,D15_64,D65_74,D75_84,D85p,DTotal,R0_14,R15_64,R65_74,R75_84,R85p,RTotal,Split,SplitSex,Forecast
2,AUT,2000,1,b,9.0,287.0,353.0,587.0,631.0,1867.0,0.000343,0.002759,0.027474,0.072305,0.226242,0.012120,0,0,0
5,AUT,2000,2,b,10.0,304.0,321.0,571.0,696.0,1902.0,0.000381,0.002922,0.024983,0.070334,0.249547,0.012347,0,0,0
8,AUT,2000,3,b,13.0,342.0,346.0,573.0,753.0,2027.0,0.000495,0.003287,0.026929,0.070581,0.269984,0.013158,0,0,0
11,AUT,2000,4,b,24.0,295.0,342.0,571.0,708.0,1940.0,0.000914,0.002836,0.026618,0.070334,0.253850,0.012593,0,0,0
14,AUT,2000,5,b,16.0,304.0,314.0,563.0,731.0,1928.0,0.000609,0.002922,0.024439,0.069349,0.262096,0.012516,0,0,0

# Explore

In [ ]:
df_mortality['CountryCode'].unique()

array(['AUT', 'BEL', 'BGR', 'CHE', 'CZE', 'DEUTNP', 'DNK', 'ESP', 'EST',
       'FIN', 'FRATNP', 'GBRTENW', 'GBR_SCO', 'GRC', 'HRV', 'HUN', 'ISL',
       'ISR', 'ITA', 'LTU', 'LUX', 'LVA', 'NLD', 'NOR', 'POL', 'PRT',
       'RUS', 'SVK', 'SVN', 'SWE', 'USA'], dtype=object)

### Which countries do _not_ have all years of reference data?

In [ ]:
lstFullCountryYearWeek = []
for strCountryCode in df_mortality['CountryCode'].unique():
    for nYear in range(nRefYearStart, nRefYearEnd+1):
        for nWeek in range(1,53):
            lstFullCountryYearWeek.append(strCountryCode + " " + str(nYear) + " " + str(nWeek))

print("No reference data for these country/year/week combos:")
set(lstFullCountryYearWeek)-set((df_mortality["CountryCode"] + " " + df_mortality["Year"].astype(str) + " " + df_mortality["Week"].astype(str)).values)

No reference data for these country/year/week combos:

{'DEUTNP 2015 1',
 'DEUTNP 2015 10',
 'DEUTNP 2015 11',
 'DEUTNP 2015 12',
 'DEUTNP 2015 13',
 'DEUTNP 2015 14',
 'DEUTNP 2015 15',
 'DEUTNP 2015 16',
 'DEUTNP 2015 17',
 'DEUTNP 2015 18',
 'DEUTNP 2015 19',
 'DEUTNP 2015 2',
 'DEUTNP 2015 20',
 'DEUTNP 2015 21',
 'DEUTNP 2015 22',
 'DEUTNP 2015 23',
 'DEUTNP 2015 24',
 'DEUTNP 2015 25',
 'DEUTNP 2015 26',
 'DEUTNP 2015 27',
 'DEUTNP 2015 28',
 'DEUTNP 2015 29',
 'DEUTNP 2015 3',
 'DEUTNP 2015 30',
 'DEUTNP 2015 31',
 'DEUTNP 2015 32',
 'DEUTNP 2015 33',
 'DEUTNP 2015 34',
 'DEUTNP 2015 35',
 'DEUTNP 2015 36',
 'DEUTNP 2015 37',
 'DEUTNP 2015 38',
 'DEUTNP 2015 39',
 'DEUTNP 2015 4',
 'DEUTNP 2015 40',
 'DEUTNP 2015 41',
 'DEUTNP 2015 42',
 'DEUTNP 2015 43',
 'DEUTNP 2015 44',
 'DEUTNP 2015 45',
 'DEUTNP 2015 46',
 'DEUTNP 2015 47',
 'DEUTNP 2015 48',
 'DEUTNP 2015 49',
 'DEUTNP 2015 5',
 'DEUTNP 2015 50',
 'DEUTNP 2015 51',
 'DEUTNP 2015 52',
 'DEUTNP 2015 6',
 'DEUTNP 2015 7',
 'DEUTNP 2015 8',
 'DEUTNP 2015 9',
 'GRC 2015 1',
 'GRC 2015 10',
 'GRC 2015 11',
 'GRC 2015 12',
 'GRC 2015 13',
 'GRC 2015 14',
 'GRC 2015 15',
 'GRC 2015 16',
 'GRC 2015 17',
 'GRC 2015 18',
 'GRC 2015 19',
 'GRC 2015 2',
 'GRC 2015 20',
 'GRC 2015 21',
 'GRC 2015 22',
 'GRC 2015 23',
 'GRC 2015 24',
 'GRC 2015 25',
 'GRC 2015 26',
 'GRC 2015 27',
 'GRC 2015 28',
 'GRC 2015 29',
 'GRC 2015 3',
 'GRC 2015 30',
 'GRC 2015 31',
 'GRC 2015 32',
 'GRC 2015 33',
 'GRC 2015 34',
 'GRC 2015 35',
 'GRC 2015 36',
 'GRC 2015 37',
 'GRC 2015 38',
 'GRC 2015 39',
 'GRC 2015 4',
 'GRC 2015 40',
 'GRC 2015 41',
 'GRC 2015 42',
 'GRC 2015 43',
 'GRC 2015 44',
 'GRC 2015 45',
 'GRC 2015 46',
 'GRC 2015 47',
 'GRC 2015 48',
 'GRC 2015 49',
 'GRC 2015 5',
 'GRC 2015 50',
 'GRC 2015 51',
 'GRC 2015 52',
 'GRC 2015 6',
 'GRC 2015 7',
 'GRC 2015 8',
 'GRC 2015 9',
 'ITA 2015 1',
 'RUS 2019 1',
 'RUS 2019 10',
 'RUS 2019 11',
 'RUS 2019 12',
 'RUS 2019 13',
 'RUS 2019 14',
 'RUS 2019 15',
 'RUS 2019 16',
 'RUS 2019 17',
 'RUS 2019 18',
 'RUS 2019 19',
 'RUS 2019 2',
 'RUS 2019 20',
 'RUS 2019 21',
 'RUS 2019 22',
 'RUS 2019 23',
 'RUS 2019 24',
 'RUS 2019 25',
 'RUS 2019 26',
 'RUS 2019 27',
 'RUS 2019 28',
 'RUS 2019 29',
 'RUS 2019 3',
 'RUS 2019 30',
 'RUS 2019 31',
 'RUS 2019 32',
 'RUS 2019 33',
 'RUS 2019 34',
 'RUS 2019 35',
 'RUS 2019 36',
 'RUS 2019 37',
 'RUS 2019 38',
 'RUS 2019 39',
 'RUS 2019 4',
 'RUS 2019 40',
 'RUS 2019 41',
 'RUS 2019 42',
 'RUS 2019 43',
 'RUS 2019 44',
 'RUS 2019 45',
 'RUS 2019 46',
 'RUS 2019 47',
 'RUS 2019 48',
 'RUS 2019 49',
 'RUS 2019 5',
 'RUS 2019 50',
 'RUS 2019 51',
 'RUS 2019 52',
 'RUS 2019 6',
 'RUS 2019 7',
 'RUS 2019 8',
 'RUS 2019 9'}

## What is the max number of weeks available for each country in 2020?

In [ ]:
df_mortality[(df_mortality['Year']==2020)].sort_values(by=['CountryCode','Week']).\
        drop_duplicates(subset=['CountryCode'], keep='last')[['CountryCode','Week']].\
        sort_values(by='Week')

      CountryCode  Week
82700         SVN    13
70160         POL    26
50096         ITA    26
56507         LUX    26
36623         GRC    26
13748         CZE    29
73367         PRT    29
79541         SVK    30
31043      FRATNP    30
53309         LTU    31
42803         HUN    32
6437          BEL    32
14468      DEUTNP    32
35921     GBR_SCO    32
49241         ISR    33
46022         ISL    33
63737         NLD    34
3221          AUT    34
27833         FIN    34
11321         CHE    34
8099          BGR    34
87119         USA    34
32708     GBRTENW    35
23051         EST    35
66962         NOR    35
19826         ESP    35
16601         DNK    35
85925         SWE    35
59735         LVA    36

# Doing stuff

## Get 2020 data (`df_mortality_2020`)

In [ ]:
df_mortality_2020 = df_mortality[(df_mortality['Year']==2020)][lstKeepCol]
df_mortality_2020['SUM'] = df_mortality_2020[lstKeepAges].sum(axis='columns')
df_mortality_2020.head()

     CountryCode  Year  Week Sex  D0_14  D15_64  D65_74  D75_84   D85p     SUM
3122         AUT  2020     1   b    1.0   219.0   221.0   481.0  687.0  1609.0
3125         AUT  2020     2   b    8.0   231.0   261.0   490.0  712.0  1702.0
3128         AUT  2020     3   b   12.0   223.0   272.0   537.0  753.0  1797.0
3131         AUT  2020     4   b   13.0   259.0   256.0   515.0  736.0  1779.0
3134         AUT  2020     5   b    9.0   226.0   277.0   591.0  844.0  1947.0

## Generate reference data (`df_mortality_reference`)
For each week, get the average value over the years that were defined above

In [ ]:
df_mortality_reference = df_mortality[(df_mortality['Year']>=nRefYearStart) &\
                                       (df_mortality['Year']<(nRefYearEnd+1))]
for strCol in lstKeepAges:
    df_mortality_reference = df_mortality_reference.\
                                merge(pd.DataFrame(df_mortality_reference[['CountryCode', 'Year', 'Week']+[strCol]].groupby(by=['CountryCode','Week'])[strCol].mean()).\
                                              reset_index().\
                                              rename(columns={strCol:strCol+'_REF'}),
                                     on=['CountryCode','Week'], how='outer')

df_mortality_reference['SUM'] = df_mortality_reference[lstKeepAges].sum(axis='columns')

df_mortality_reference = df_mortality_reference.\
                                merge(pd.DataFrame(df_mortality_reference[lstKeepCol+['SUM']].groupby(by=['CountryCode','Week'])['SUM'].mean()).\
                                          reset_index().\
                                          rename(columns={'SUM':'REF_SUM'}),
                                      on=['CountryCode','Week'], how='outer')
df_mortality_reference = df_mortality_reference[['CountryCode','Week']+[x+'_REF' for x in lstKeepAges]+['REF_SUM']].drop_duplicates().round(2)
df_mortality_reference.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  CountryCode  Week     REF
0         AUT     1  1809.0
1         AUT     2  1857.0
2         AUT     3  1786.4
3         AUT     4  1747.0
4         AUT     5  1818.6

## Jam the dataframes together

In [ ]:
df_mortality_join = df_mortality_2020[lstKeepCol+['SUM']].merge(df_mortality_reference, on=['CountryCode','Week'])
df_mortality_join['DIFF'] = df_mortality_join['SUM']-df_mortality_join['REF_SUM']
df_mortality_join['EXCESS_ONLY'] = df_mortality_join['DIFF'].clip(0, None)

df_mortality_join.head()

,CountryCode,Year,Week,Sex,D0_14,D15_64,D65_74,D75_84,D85p,SUM,REF,DIFF,EXCESS_ONLY
0,AUT,2020,1,b,1.0,219.0,221.0,481.0,687.0,1609.0,1809.0,-200.0,0.0
1,AUT,2020,2,b,8.0,231.0,261.0,490.0,712.0,1702.0,1857.0,-155.0,0.0
2,AUT,2020,3,b,12.0,223.0,272.0,537.0,753.0,1797.0,1786.4,10.6,10.6
3,AUT,2020,4,b,13.0,259.0,256.0,515.0,736.0,1779.0,1747.0,32.0,32.0
4,AUT,2020,5,b,9.0,226.0,277.0,591.0,844.0,1947.0,1818.6,128.4,128.4

## Create excess mortality up to week defined above

In [ ]:
df_excess_mortality = pd.DataFrame(df_mortality_join[df_mortality_join['Week']<=nWeekWindow].groupby(by=['CountryCode'])[['REF_SUM','EXCESS_ONLY']].sum()).reset_index()
df_excess_mortality.head()

  CountryCode      REF  EXCESS_ONLY
0         AUT  42005.4       1633.8
1         BEL  57350.0       8927.8
2         BGR  56651.4        140.0
3         CHE  34447.4       1990.6
4         CZE  57361.8        910.0

# Final comparisons

In [ ]:
print("Europe:")
s_temp = df_excess_mortality[df_excess_mortality['CountryCode'].isin(lstCountriesEurope)][['REF_SUM','EXCESS_ONLY']].sum()
print("\tReference deaths:", int(s_temp['REF_SUM']))
print("\tExcess deaths:", int(s_temp['EXCESS_ONLY']))
print("\tPercent increase:", round(s_temp['EXCESS_ONLY']*100.0/s_temp['REF_SUM'], 2))

print()

print("United States:")
s_temp = df_excess_mortality[df_excess_mortality['CountryCode'].isin(['USA'])][['REF_SUM','EXCESS_ONLY']].sum()
print("\tReference deaths:", int(s_temp['REF_SUM']))
print("\tExcess deaths:", int(s_temp['EXCESS_ONLY']))
print("\tPercent increase:", round(s_temp['EXCESS_ONLY']*100.0/s_temp['REF_SUM'], 2))

Europe:
	Reference deaths: 2492041
	Excess deaths: 246620
	Percent increase: 9.9

United States:
	Reference deaths: 1426784
	Excess deaths: 194936
	Percent increase: 13.66

In [ ]:
# Run this as a reminder of what your variables were
print(lstKeepAges)
print(nWeekWindow)

['D0_14', 'D15_64', 'D65_74', 'D75_84', 'D85p']
26

# Further exploration

### All individual countries

In [ ]:
for strCountryCode in df_excess_mortality['CountryCode'].unique():
    print(strCountryCode)
    s_temp = df_excess_mortality[df_excess_mortality['CountryCode'].isin([strCountryCode])][['REF_SUM','EXCESS_ONLY']].sum()
    print("\tReference deaths:", int(s_temp['REF_SUM']))
    print("\tExcess deaths:", int(s_temp['EXCESS_ONLY']))
    print("\tPercent increase:", round(s_temp['EXCESS_ONLY']*100.0/s_temp['REF_SUM'], 2))
    print()

AUT
	Reference deaths: 42005
	Excess deaths: 1633
	Percent increase: 3.89

BEL
	Reference deaths: 57349
	Excess deaths: 8927
	Percent increase: 15.57

BGR
	Reference deaths: 56651
	Excess deaths: 140
	Percent increase: 0.25

CHE
	Reference deaths: 34447
	Excess deaths: 1990
	Percent increase: 5.78

CZE
	Reference deaths: 57361
	Excess deaths: 909
	Percent increase: 1.59

DEUTNP
	Reference deaths: 483678
	Excess deaths: 12183
	Percent increase: 2.52

DNK
	Reference deaths: 27704
	Excess deaths: 508
	Percent increase: 1.83

ESP
	Reference deaths: 220613
	Excess deaths: 48816
	Percent increase: 22.13

EST
	Reference deaths: 8029
	Excess deaths: 211
	Percent increase: 2.63

FIN
	Reference deaths: 27517
	Excess deaths: 958
	Percent increase: 3.48

FRATNP
	Reference deaths: 304729
	Excess deaths: 29737
	Percent increase: 9.76

GBRTENW
	Reference deaths: 281501
	Excess deaths: 59657
	Percent increase: 21.19

GBR_SCO
	Reference deaths: 30068
	Excess deaths: 5005
	Percent increase: 16.65

GRC
	Reference deaths: 63066
	Excess deaths: 2265
	Percent increase: 3.59

HUN
	Reference deaths: 67819
	Excess deaths: 609
	Percent increase: 0.9

ISL
	Reference deaths: 1151
	Excess deaths: 83
	Percent increase: 7.28

ISR
	Reference deaths: 23253
	Excess deaths: 1065
	Percent increase: 4.58

ITA
	Reference deaths: 313998
	Excess deaths: 50401
	Percent increase: 16.05

LTU
	Reference deaths: 21068
	Excess deaths: 315
	Percent increase: 1.5

LUX
	Reference deaths: 2134
	Excess deaths: 158
	Percent increase: 7.42

LVA
	Reference deaths: 14842
	Excess deaths: 163
	Percent increase: 1.1

NLD
	Reference deaths: 78152
	Excess deaths: 9963
	Percent increase: 12.75

NOR
	Reference deaths: 20982
	Excess deaths: 276
	Percent increase: 1.32

POL
	Reference deaths: 207707
	Excess deaths: 4303
	Percent increase: 2.07

PRT
	Reference deaths: 58786
	Excess deaths: 3764
	Percent increase: 6.4

SVK
	Reference deaths: 27684
	Excess deaths: 244
	Percent increase: 0.88

SVN
	Reference deaths: 5852
	Excess deaths: 73
	Percent increase: 1.26

SWE
	Reference deaths: 46052
	Excess deaths: 5654
	Percent increase: 12.28

USA
	Reference deaths: 1426784
	Excess deaths: 194936
	Percent increase: 13.66

In [ ]:
df_mortality_join[df_mortality_join['CountryCode']=='USA']

,CountryCode,Year,Week,Sex,D0_14,D15_64,D65_74,D75_84,D85p,SUM,REF,DIFF,EXCESS_ONLY
876,USA,2020,1,b,574.565979,14762.434021,11575.401018,14356.142857,18673.456124,59942.0,59859.6,82.4,82.4
877,USA,2020,2,b,562.378216,14527.621784,11767.437713,14594.312249,18983.250038,60435.0,60813.4,-378.4,0.0
878,USA,2020,3,b,585.883187,14283.116813,11454.210294,14205.838660,18477.951046,59007.0,59685.8,-678.8,0.0
879,USA,2020,4,b,575.436533,14148.563467,11392.447141,14129.238234,18378.314625,58624.0,58575.2,48.8,48.8
880,USA,2020,5,b,563.248770,14055.751230,11367.534272,14098.340583,18338.125145,58423.0,57935.8,487.2,487.2
881,USA,2020,6,b,607.647050,14438.352950,11444.089441,14193.286489,18461.624070,59145.0,58202.6,942.4,942.4
882,USA,2020,7,b,572.824870,14165.175130,11370.388872,14101.880939,18342.730189,58553.0,57671.2,881.8,881.8
883,USA,2020,8,b,551.061007,14173.938993,11376.098071,14108.961651,18351.940279,58562.0,57026.8,1535.2,1535.2
884,USA,2020,9,b,598.941505,14376.058495,11426.183317,14171.078803,18432.737881,59005.0,56677.4,2327.6,2327.6
885,USA,2020,10,b,513.627163,14546.372837,11485.870397,14245.104425,18529.025178,59320.0,56977.0,2343.0,2343.0
886,USA,2020,11,b,542.355462,14098.644538,11272.034943,13979.899588,18184.065468,58077.0,56115.2,1961.8,1961.8
887,USA,2020,12,b,561.507661,14365.492339,11377.395616,14110.570903,18354.033481,58769.0,55759.2,3009.8,3009.8
888,USA,2020,13,b,515.368272,15213.631728,12183.430714,15110.238647,19654.330639,62677.0,54877.4,7799.6,7799.6
889,USA,2020,14,b,491.863300,17483.136700,13999.215513,17362.226800,22583.557687,71920.0,54817.8,17102.2,17102.2
890,USA,2020,15,b,541.484907,18586.515093,15451.947155,19163.946063,24927.106782,78671.0,54346.4,24324.6,24324.6
891,USA,2020,16,b,476.193319,17527.806681,15148.062061,18787.059093,24436.878845,76376.0,53507.0,22869.0,22869.0
892,USA,2020,17,b,538.002689,17261.997311,14432.336111,17899.395334,23282.268555,73414.0,52655.4,20758.6,20758.6
893,USA,2020,18,b,507.533281,16494.466719,13444.125662,16673.788518,21688.085820,68808.0,52616.6,16191.4,16191.4
894,USA,2020,19,b,554.543225,16693.456775,12756.426689,15820.884616,20578.688695,66404.0,52036.6,14367.4,14367.4
895,USA,2020,20,b,565.860434,16032.139566,12315.520819,15274.060567,19867.418614,64055.0,51553.8,12501.2,12501.2
896,USA,2020,21,b,571.954315,15874.045685,11594.864197,14380.281647,18704.854156,61126.0,51073.8,10052.2,10052.2
897,USA,2020,22,b,534.520471,15396.479529,11217.278534,13911.989127,18095.732339,59156.0,50882.8,8273.2,8273.2
898,USA,2020,23,b,585.012633,15760.987367,10873.948066,13486.180877,17541.871058,58248.0,51096.6,7151.4,7151.4
899,USA,2020,24,b,560.637107,15381.362893,10735.889253,13314.956395,17319.154352,57312.0,50889.6,6422.4,6422.4
900,USA,2020,25,b,562.378216,15273.621784,10720.318710,13295.645363,17294.035926,57146.0,50643.8,6502.2,6502.2
901,USA,2020,26,b,515.368272,15349.631728,10801.804551,13396.706429,17425.489020,57489.0,50488.0,7001.0,7001.0
902,USA,2020,27,b,571.954315,15763.045685,10885.366464,13500.342300,17560.291236,58281.0,50772.8,7508.2,7508.2
903,USA,2020,28,b,570.213206,16101.786794,11107.765717,13776.168203,17919.066080,59475.0,50322.4,9152.6,9152.6
904,USA,2020,29,b,475.322764,15777.677236,11348.071094,14074.201794,18306.727113,59982.0,50165.4,9816.6,9816.6
905,USA,2020,30,b,509.274390,15591.725610,11431.892516,14178.159514,18441.947970,60153.0,49894.2,10258.8,10258.8
906,USA,2020,31,b,420.477830,15013.522170,11203.265046,13894.609198,18073.125756,58605.0,49966.2,8638.8,8638.8
907,USA,2020,32,b,450.947238,14344.052762,10786.753026,13378.039099,17401.207875,56361.0,50062.0,6299.0,6299.0
908,USA,2020,33,b,343.869033,12731.130967,9987.205654,12386.417618,16111.376728,51560.0,49838.2,1721.8,1721.8
909,USA,2020,34,b,230.696946,9258.303054,7958.104419,9869.868330,12838.027251,40155.0,49773.0,-9618.0,0.0